<footer class="footer">
    <script src="https://kit.fontawesome.com/0e8baee365.js" crossorigin="anonymous"></script>
    <span>&copy; {{ now.Year }} {{ site.Copyright}}. {{ index $.Site.Data.l10n "all_rights_reserved" }}.</span>
    <span>
      <a href="https://mstdn.social/@whitecold" rel="me noopener noreferrer" target="_blank" title="Mastodon">
        <i class="fa-brands fa-mastodon"></i>
      </a>
      <a href="https://blog.benedekvigh.hu/index.xml" title="RSS">
	<i class="fa-solid fa-square-rss"></i>
      </a>
    </span>
</footer>
